<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    
    <!-- Header -->
    <nav class="navbar navbar-expand-lg" style="background-color:#F4F3F3;">

        <div class="container" style="padding:0;">


          <!-- img -->
          <a class="navbar-brand me-5" href="/"><img src="images/logo.png"></a>

          <!-- toggle bar -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <!-- Navbar collapse -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Nav List -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item me-5">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item me-5">
                <a class="nav-link" href="/addmyproject">Add Project</a>
              </li>
              
            </ul>
            
              <!-- Contact me -->
              <a class="btn" style="color: white;background-color:#111727;" href="/contact" role="button">Contact Me</a>
          </div>



        </div>

      </nav>

    <!-- Intro  -->
    <section class="intro-section">
          <div class="container intro">
                 <!-- Main -->
                <div class="intro-main">

                     <h2 class="intro__title">Hi! Welcome to My Hut!</h2>

                     <p class="intro__des">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                      Dolorum accusantium aliquam quod nemo eveniet alias, quos
                      asperiores, nihil saepe facilis voluptate adipisci 
                      possimus distinctio reiciendis officiis consequatur 
                      optio ut repellendus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                      Dolorum accusantium aliquam quod nemo eveniet alias, quos
                      asperiores, nihil saepe facilis voluptate adipisci 
                      possimus distinctio reiciendis officiis consequatur 
                      optio ut repellendus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                      Dolorum accusantium aliquam quod nemo eveniet alias, quos
                      asperiores, nihil saepe facilis voluptate adipisci 
                      possimus distinctio reiciendis officiis consequatur  optio ut repellendus!</p>


                      <div class="btn-group">
                          <a  href="/contact" class="contact-btn">
                             Contact 
                          </a>

                          <div class="download-btn">
                             download CV <img src="images/downloads.png">
                          </div>
                      </div>

                     <!-- Social -->
                    <div class="intro__socials">

                        <a href="https://www.linkedin.com/in/darren-christian-t-8b59b9224">
                                 <i  class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://instagram.com/selftaught_tj?igshid=YmMyMTA2M2Y=">
                                  <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100080178886723">
                                  <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://www.twitter.com/DarrenC43892953">
                                  <i class="fa-brands fa-twitter"></i>
                        </a>

                    </div>
                </div>

              <!-- Card -->
              <div class="intro-card">
                     <img src="images/pexels-pixabay-220453.jpg" alt="My face">
                     <strong>Darren Christian</strong>
                     <p>Fullstack Developer</p>
              </div>

          </div>
    </section>

    <!-- My Project -->
    <section class="projects-section">
        <h2>MY PROJECT</h2>

        <div class="projects">

            {{#each data}}
            <div class="card" onclick="movePost({{this.id}})">
                      
                 <div class="upper-project" >
                       <img class="project-img" src={{this.img}} width="100%" alt="">
                       <span class="project-title">{{this.title}}</span>
                       <p class="project-duration">duration: {{this.duration}}</p>
                       <p class="project-des">{{this.description}}</p>
                 </div>

                 <div class="lower-project" >
                        <div class="project-logos" >
                            {{#if this.isNode}} <i class="fa-brands fa-node-js"></i> {{/if}}
                            {{#if this.isReact}}<i class="fa-brands fa-react"></i> {{/if}}
                            {{#if this.isJS}}<i class="fa-brands fa-js"></i>{{/if}}
                            {{#if this.isCSS}}<i class="fa-brands fa-css3-alt"></i>{{/if}}
                        </div>
     
                         <div class="project-buttons" >
                             <a href="/editproject/{{this.id}}"><button class="edit-btn">Edit</button></a>
                             <a href="/deletemyproject/{{this.id}}"><button class="delete-btn">Delete</button></a>
                         </div>
                 </div>
                     
            </div>
            {{/each}}

        </div>

        {{#if isPostNotThere}}
            <strong class="empty-project" style="text-align:center;margin: 0 auto">Projects is empty, please add minimal 1 project.</strong>
        {{/if}}

    </section>

    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script>
          

           // Functions
           function movePost(id){
           window.location.href = `http://localhost:3000/single/${id}`;
            }; 


    </script>
</body>
</html>
