
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/single.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    
    <!-- Header -->
    <nav class="navbar navbar-expand-lg" style="background-color:#F4F3F3;">

        <div class="container" style="padding:0;">


          <!-- img -->
          <a class="navbar-brand me-5" href="/"><img src="/images/logo.png"></a>

          <!-- toggle bar -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <!-- Navbar collapse -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Nav List -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item me-5">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>

              <li class="nav-item me-5">
                <a class="nav-link" href="/addmyproject">Add Project</a>
              </li>
              
            </ul>
            
              <!-- Contact me -->
              <a class="btn" style="color: white;background-color:#111727;" href="/contact" role="button">Contact Me</a>
          </div>



        </div>

    </nav>

       <!-- Body -->
     <div class="container details-section">
          <h1>{{User.title}}</h1>

          <!-- Upper -->
          <div class="upper">
                 <img src={{User.img}} width="100%">

                 <div class="upper-info">
                     <b>Duration</b>
                     <span><i class="fa-solid fa-calendar"></i> {{User.stringDate}}</span>
                     <span><i class="fa-solid fa-clock-rotate-left"></i> {{User.duration}}</span>
                     <b class="tech">Technologies</b>
                     <div class="">
                          {{#if User.tech.[1].react}}<span><i class="fa-brands fa-react"></i>React JS</span> {{/if}}
                          {{#if User.tech.[2].js}}<span><i class="fa-brands fa-js"></i>JavaScript</span> {{/if}}
                          {{#if User.tech.[0].node}}<span><i class="fa-brands fa-node-js"></i>NodeJS</span> {{/if}}
                          {{#if User.tech.[3].css}}<span><i class="fa-brands fa-css3-alt"></i>CSS</span> {{/if}}
                     </div>
                 </div>
          </div>

          <!-- Lower -->
          <div class="lower">
             {{User.description}}
          </div>
     </div>

    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
